[submodule "auth"]
	path = auth
	url = git@github.com:SquashConsulting/auth.git
[submodule "interactions"]
	path = interactions
	url = git@github.com:rasjonell/interactions.git
[submodule "shared"]
	path = shared
	url = git@github.com:SquashConsulting/shared.git
